Source: wazo-service
Section: admin
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6

Package: wazo-service
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         dbus,
         monit,
         python3-dbus,
         wazo-dbms,
         xivo-manage-db
Conflicts: xivo-service
Replaces: xivo-service
Provides: xivo-service
Description: manage Wazo services
 Command line utilities to manage Wazo services.
